.navbar {
  background-color: rgb(95, 95, 245);
}

.navbar .nav-link {
  color: white; /* Change the text color to white or any other color that suits your design */
}
.navbar .nav-link .active {
  color: white; /* Change the text color to white or any other color that suits your design */
}
.navbar .navbar-brand {
  color: white;
}

.big {
  padding-top: 30px;
}

.table td,
.table th {
  padding: 8px;
}
